In [1]:
import pandas as pd
import requests
import io
import os

# Assuming you've already authenticated with Kaggle API

# Fetch data using Kaggle API command
!kaggle competitions download -c visual-taxonomy -f train.csv -p /content/

# Load the downloaded file into a pandas dataframe
train_data = pd.read_csv('/kaggle/input/visual-taxonomy/train.csv')  # Update path if needed
train_data.head()

Traceback (most recent call last):
  File "/opt/conda/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/opt/conda/lib/python3.10/site-packages/kaggle/__init__.py", line 7, in <module>
    api.authenticate()
  File "/opt/conda/lib/python3.10/site-packages/kaggle/api/kaggle_api_extended.py", line 407, in authenticate
    raise IOError('Could not find {}. Make sure it\'s located in'
OSError: Could not find kaggle.json. Make sure it's located in /root/.config/kaggle. Or use the environment method. See setup instructions at https://github.com/Kaggle/kaggle-api/

,id,Category,len,attr_1,attr_2,attr_3,attr_4,attr_5,attr_6,attr_7,attr_8,attr_9,attr_10
0,0,Men Tshirts,5,default,round,printed,default,short sleeves,NaN,NaN,NaN,NaN,NaN
1,1,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN
2,2,Men Tshirts,5,default,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN
3,3,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN
4,4,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN

In [2]:
train_data['Category'].unique()

array(['Men Tshirts', 'Sarees', 'Kurtis', 'Women Tshirts',
       'Women Tops & Tunics'], dtype=object)

In [3]:
train_data[train_data['Category']=='Sarees'].count()

id          18346
Category    18346
len         18346
attr_1       7885
attr_2      17679
attr_3      15861
attr_4      17896
attr_5      17649
attr_6       5010
attr_7       8896
attr_8      16465
attr_9      14303
attr_10     17818
dtype: int64

In [4]:
saree_data=train_data[(train_data['Category']=='Sarees')]
men_df=train_data[(train_data['Category']=='Men Tshirts')]
kurti_df=train_data[(train_data['Category']=='Kurtis')]
womenT_df=train_data[(train_data['Category']=='Women Tshirts')]
womenTops_df=train_data[(train_data['Category']=='Women Tops & Tunics')]

In [5]:
# prompt: how to get row wise null values and get the count for which there are more than 4 or 5 null values

# Calculate the number of null values in each row
row_null_counts = saree_data.isnull().sum(axis=1)

# Filter rows with more than 4 or 5 null values
rows_with_many_nulls = saree_data[row_null_counts > 4]

# Get the count of rows with more than 4 null values
count_rows_more_than_4_nulls = len(rows_with_many_nulls)

print(f"Number of rows with more than 4 null values: {count_rows_more_than_4_nulls}")

# Get the count of rows with more than 5 null values (you can adjust the threshold)
rows_with_many_nulls = saree_data[row_null_counts > 5]
count_rows_more_than_5_nulls = len(rows_with_many_nulls)
print(f"Number of rows with more than 5 null values: {count_rows_more_than_5_nulls}")

Number of rows with more than 4 null values: 1960
Number of rows with more than 5 null values: 1830

In [9]:
saree_data_cleaned=saree_data.dropna(thresh=saree_data.shape[1]-5+1)
men_df_cleaned=men_df.dropna(thresh=men_df.shape[1]-7+1)
kurti_df_cleaned=kurti_df.dropna(thresh=kurti_df.shape[1]-5+1)
womenT_df_cleaned=womenT_df.dropna(thresh=womenT_df.shape[1]-5+1)
womenTops_df_cleaned=womenTops_df.dropna(thresh=womenTops_df.shape[1]-5+1)

In [12]:
# Using .loc[] to assign values directly to the DataFrame
men_df_cleaned.loc[:, 'attr_6'] = 'dummy_value'
men_df_cleaned.loc[:, 'attr_7'] = 'dummy_value'
men_df_cleaned.loc[:, 'attr_8'] = 'dummy_value'
men_df_cleaned.loc[:, 'attr_9'] = 'dummy_value'
men_df_cleaned.loc[:, 'attr_10'] = 'dummy_value'

kurti_df_cleaned.loc[:, 'attr_10'] = 'dummy_value'

womenT_df_cleaned.loc[:, 'attr_9'] = 'dummy_value'
womenT_df_cleaned.loc[:, 'attr_10'] = 'dummy_value'

In [16]:
men_df_cleaned.count()

id          5323
Category    5323
len         5323
attr_1      5271
attr_2      5194
attr_3      4951
attr_4      5188
attr_5      5263
attr_6      5323
attr_7      5323
attr_8      5323
attr_9      5323
attr_10     5323
dtype: int64

In [17]:
import pandas as pd


saree_data_imputed = saree_data_cleaned.copy()  


for column in saree_data_imputed.columns:

    mode_value = saree_data_imputed[column].mode()[0]  
    saree_data_imputed[column].fillna(mode_value, inplace=True)
    
saree_data_imputed = saree_data_cleaned.copy()  
######33
men_df_imputed = men_df_cleaned.copy()

for column in men_df_imputed.columns:

    mode_value = men_df_imputed[column].mode()[0]  
    men_df_imputed[column].fillna(mode_value, inplace=True)
    
######33
kurti_df_imputed = kurti_df_cleaned.copy()

for column in kurti_df_imputed.columns:

    mode_value = kurti_df_imputed[column].mode()[0]  
    kurti_df_imputed[column].fillna(mode_value, inplace=True)
    
    
######33
womenT_df_imputed = womenT_df_cleaned.copy()

for column in womenT_df_imputed.columns:

    mode_value = womenT_df_imputed[column].mode()[0]  
    womenT_df_imputed[column].fillna(mode_value, inplace=True)

######33
womenTops_df_imputed = womenTops_df_cleaned.copy()

for column in womenTops_df_imputed.columns:

    mode_value = womenTops_df_imputed[column].mode()[0]  
    womenTops_df_imputed[column].fillna(mode_value, inplace=True)

/tmp/ipykernel_1638/2150165297.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  saree_data_imputed[column].fillna(mode_value, inplace=True)
/tmp/ipykernel_1638/2150165297.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  saree_data_imputed[column].fillna(mode_value, inplace=True)
/tmp/ipykernel_1638/2150165297.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  men_df_imputed[column].fillna(mode_value, inplace=True)
/tmp/ipykernel_1638/2150165297.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  men_df_imputed[column].fillna(mode_value, inplace=True)
/tmp/ipykernel_1638/2150165297.py:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  kurti_df_imputed[column].fillna(mode_value, inplace=True)
/tmp/ipykernel_1638/2150165297.py:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  kurti_df_imputed[column].fillna(mode_value, inplace=True)
/tmp/ipykernel_1638/2150165297.py:36: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  womenT_df_imputed[column].fillna(mode_value, inplace=True)
/tmp/ipykernel_1638/2150165297.py:36: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  womenT_df_imputed[column].fillna(mode_value, inplace=True)
/tmp/ipykernel_1638/2150165297.py:44: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  womenTops_df_imputed[column].fillna(mode_value, inplace=True)
/tmp/ipykernel_1638/2150165297.py:44: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  womenTops_df_imputed[column].fillna(mode_value, inplace=True)

In [19]:
saree_data_imputed.isnull().sum()
men_df_imputed.isnull().sum()
kurti_df_imputed.isnull().sum()
womenT_df_imputed.isnull().sum()
print(womenTops_df_imputed.isnull().sum())

id          0
Category    0
len         0
attr_1      0
attr_2      0
attr_3      0
attr_4      0
attr_5      0
attr_6      0
attr_7      0
attr_8      0
attr_9      0
attr_10     0
dtype: int64

In [20]:
saree_data_imputed.tail()

,id,Category,len,attr_1,attr_2,attr_3,attr_4,attr_5,attr_6,attr_7,attr_8,attr_9,attr_10
25608,25773,Sarees,10,NaN,zari,small border,cream,party,NaN,NaN,zari woven,peacock,no
25609,25774,Sarees,10,NaN,no border,no border,default,party,NaN,zari woven,zari woven,default,no
25610,25775,Sarees,10,NaN,zari,small border,cream,party,NaN,NaN,zari woven,peacock,no
25611,25776,Sarees,10,NaN,temple border,small border,cream,party,NaN,NaN,zari woven,peacock,no
25612,25777,Sarees,10,same as saree,woven design,big border,multicolor,party,jacquard,woven design,zari woven,NaN,no

In [21]:
sarees_ids=saree_data_imputed["id"]
men_ids=men_df_imputed["id"]
kurti_ids=kurti_df_imputed["id"]
womenT_ids=womenT_df_imputed["id"]
womenTops_ids=womenTops_df_imputed["id"]

In [22]:
y_sarees=saree_data_imputed.drop(columns=['Category','id','len'])
y_men=men_df_imputed.drop(columns=['Category','id','len'])
y_kurti=kurti_df_imputed.drop(columns=['Category','id','len'])
y_womenT=womenT_df_imputed.drop(columns=['Category','id','len'])
y_womenTops=womenTops_df_imputed.drop(columns=['Category','id','len'])

In [23]:
y_men.head()

,attr_1,attr_2,attr_3,attr_4,attr_5,attr_6,attr_7,attr_8,attr_9,attr_10
0,default,round,printed,default,short sleeves,dummy_value,dummy_value,dummy_value,dummy_value,dummy_value
1,multicolor,polo,solid,solid,short sleeves,dummy_value,dummy_value,dummy_value,dummy_value,dummy_value
2,default,polo,solid,solid,short sleeves,dummy_value,dummy_value,dummy_value,dummy_value,dummy_value
3,multicolor,polo,solid,solid,short sleeves,dummy_value,dummy_value,dummy_value,dummy_value,dummy_value
4,multicolor,polo,solid,solid,short sleeves,dummy_value,dummy_value,dummy_value,dummy_value,dummy_value

In [ ]:
y.value_counts()

In [ ]:
import pandas as pd

# Assuming `y` is your DataFrame
y_encoded = pd.get_dummies(y, columns=y.columns, prefix=y.columns)

# Display the first few rows of the encoded DataFrame
y_encoded.head()

In [25]:
men_df_cleaned.tail()

,id,Category,len,attr_1,attr_2,attr_3,attr_4,attr_5,attr_6,attr_7,attr_8,attr_9,attr_10
6146,6146,Men Tshirts,5,white,NaN,printed,typography,short sleeves,dummy_value,dummy_value,dummy_value,dummy_value,dummy_value
6148,6148,Men Tshirts,5,black,round,NaN,typography,short sleeves,dummy_value,dummy_value,dummy_value,dummy_value,dummy_value
6156,6156,Men Tshirts,5,black,round,printed,NaN,short sleeves,dummy_value,dummy_value,dummy_value,dummy_value,dummy_value
6161,6161,Men Tshirts,5,white,round,printed,NaN,short sleeves,dummy_value,dummy_value,dummy_value,dummy_value,dummy_value
6166,6166,Men Tshirts,5,multicolor,round,NaN,default,short sleeves,dummy_value,dummy_value,dummy_value,dummy_value,dummy_value

In [27]:
import cv2
image_size=(224,224)
# List to store the loaded images
saree_images = []

# Iterate through the specified range of image numbers
for img_num in range(len(sarees_ids)):
    filename = f'/kaggle/input/visual-taxonomy/train_images/{sarees_ids.iloc[img_num]:06}.jpg'  # Format with leading zeros
    img = cv2.imread(filename)  # Read the image with OpenCV
    if img is not None:
        img_resized = cv2.resize(img, image_size)  # Resize image to 224x224
        saree_images.append(img_resized)
    else:
        print(f"Image not found or could not be loaded: {filename}")

print(f"Loaded {len(saree_images)} images.")


import numpy as np
saree_images_array = np.array(saree_images)
print(f"Loaded images array shape: {saree_images_array.shape}")

Loaded 16386 images.
Loaded images array shape: (16386, 224, 224, 3)

In [28]:
import cv2
image_size=(224,224)
# List to store the loaded images
men_images = []

# Iterate through the specified range of image numbers
for img_num in range(len(men_ids)):
    filename = f'/kaggle/input/visual-taxonomy/train_images/{men_ids.iloc[img_num]:06}.jpg'  # Format with leading zeros
    img = cv2.imread(filename)  # Read the image with OpenCV
    if img is not None:
        img_resized = cv2.resize(img, image_size)  # Resize image to 224x224
        men_images.append(img_resized)
    else:
        print(f"Image not found or could not be loaded: {filename}")

print(f"Loaded {len(men_images)} images.")


import numpy as np
men_images_array = np.array(men_images)
print(f"Loaded images array shape: {men_images_array.shape}")

Loaded 5323 images.
Loaded images array shape: (5323, 224, 224, 3)

In [29]:
import cv2
image_size=(224,224)
# List to store the loaded images
kurti_images = []

# Iterate through the specified range of image numbers
for img_num in range(len(kurti_ids)):
    filename = f'/kaggle/input/visual-taxonomy/train_images/{kurti_ids.iloc[img_num]:06}.jpg'  # Format with leading zeros
    img = cv2.imread(filename)  # Read the image with OpenCV
    if img is not None:
        img_resized = cv2.resize(img, image_size)  # Resize image to 224x224
        kurti_images.append(img_resized)
    else:
        print(f"Image not found or could not be loaded: {filename}")

print(f"Loaded {len(kurti_images)} images.")


import numpy as np
kurti_images_array = np.array(kurti_images)
print(f"Loaded images array shape: {kurti_images_array.shape}")

Loaded 4330 images.
Loaded images array shape: (4330, 224, 224, 3)

In [30]:
import cv2
image_size=(224,224)
# List to store the loaded images
womenT_images = []

# Iterate through the specified range of image numbers
for img_num in range(len(womenT_ids)):
    filename = f'/kaggle/input/visual-taxonomy/train_images/{womenT_ids.iloc[img_num]:06}.jpg'  # Format with leading zeros
    img = cv2.imread(filename)  # Read the image with OpenCV
    if img is not None:
        img_resized = cv2.resize(img, image_size)  # Resize image to 224x224
        womenT_images.append(img_resized)
    else:
        print(f"Image not found or could not be loaded: {filename}")

print(f"Loaded {len(womenT_images)} images.")


import numpy as np
womenT_images_array = np.array(womenT_images)
print(f"Loaded images array shape: {womenT_images_array.shape}")

Loaded 14795 images.
Loaded images array shape: (14795, 224, 224, 3)

In [31]:
import cv2
image_size=(224,224)
# List to store the loaded images
womenTops_images = []

# Iterate through the specified range of image numbers
for img_num in range(len(womenTops_ids)):
    filename = f'/kaggle/input/visual-taxonomy/train_images/{womenTops_ids.iloc[img_num]:06}.jpg'  # Format with leading zeros
    img = cv2.imread(filename)  # Read the image with OpenCV
    if img is not None:
        img_resized = cv2.resize(img, image_size)  # Resize image to 224x224
        womenTops_images.append(img_resized)
    else:
        print(f"Image not found or could not be loaded: {filename}")

print(f"Loaded {len(womenTops_images)} images.")


import numpy as np
womenTops_images_array = np.array(womenTops_images)
print(f"Loaded images array shape: {womenTops_images_array.shape}")

Loaded 11446 images.
Loaded images array shape: (11446, 224, 224, 3)

In [32]:
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.applications.vgg16 import VGG16, preprocess_input
from tensorflow.keras.applications.vgg16 import decode_predictions

In [33]:
# Initialize the ImageDataGenerator with VGG16 preprocessing
datagen = ImageDataGenerator(preprocessing_function=preprocess_input)

In [ ]:
batch_size = 256
data_generator_saree = datagen.flow(
    saree_images_array,
    batch_size=batch_size,
    shuffle=False
)

data_generator_men = datagen.flow(
    men_images_array,
    batch_size=batch_size,
    shuffle=False
)

data_generator_kurti = datagen.flow(
    kurti_images_array,
    batch_size=batch_size,
    shuffle=False
)

data_generator_womenT = datagen.flow(
    womenT_images_array,
    batch_size=batch_size,
    shuffle=False
)

data_generator_womenTops = datagen.flow(
    womenTops_images_array,
    batch_size=batch_size,
    shuffle=False
)

In [ ]:
# Load the VGG16 model
model = VGG16(weights='imagenet')

In [ ]:
model.summary()

In [ ]:
predictions_all_saree = []
num_batches = len(data_generator_saree)  # Total number of batches in the generator

for _ in range(num_batches):
    batch = next(data_generator_saree)  # Get the next batch
    predictions = model.predict(batch)
    predictions_all_saree.append(predictions)

In [ ]:
predictions_all_men = []
num_batches = len(data_generator_men)  # Total number of batches in the generator

for _ in range(num_batches):
    batch = next(data_generator_men)  # Get the next batch
    predictions = model.predict(batch)
    predictions_all_men.append(predictions)

In [ ]:
predictions_all_kurti = []
num_batches = len(data_generator_kurti)  # Total number of batches in the generator

for _ in range(num_batches):
    batch = next(data_generator_kurti)  # Get the next batch
    predictions = model.predict(batch)
    predictions_all_kurti.append(predictions)

In [ ]:
predictions_all_womenT = []
num_batches = len(data_generator_womenT)  # Total number of batches in the generator

for _ in range(num_batches):
    batch = next(data_generator_womenT)  # Get the next batch
    predictions = model.predict(batch)
    predictions_all_womenT.append(predictions)

In [ ]:
predictions_all_womenTops = []
num_batches = len(data_generator_womenTops)  # Total number of batches in the generator

for _ in range(num_batches):
    batch = next(data_generator_womenTops)  # Get the next batch
    predictions = model.predict(batch)
    predictions_all_womenTops.append(predictions)

In [ ]:
x_encoded_saree = np.concatenate(predictions_all_saree, axis=0)
x_encoded_men = np.concatenate(predictions_all_men, axis=0)
x_encoded_kurti = np.concatenate(predictions_all_kurti, axis=0)
x_encoded_womenT = np.concatenate(predictions_all_womenT, axis=0)
x_encoded_womenTops = np.concatenate(predictions_all_womenTops, axis=0)

In [ ]:
y_encoded.shape

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from sklearn.model_selection import train_test_split
import numpy as np

# Split the data into train and test sets (e.g., 80% train, 20% test)
x_train, x_test, y_train, y_test = train_test_split(x_encoded, y_encoded, test_size=0.2, random_state=42)

# Define the model
model_final = Sequential([
    Dense(512, input_shape=(1000,), activation='relu'),
    Dense(256, activation='relu'),
    Dense(128, activation='relu'),
    Dense(64, activation='relu'),
    Dense(48, activation='sigmoid')
])

# Compile the model
model_final.compile(optimizer=Adam(), loss='binary_crossentropy', metrics=['accuracy'])

# Set batch size and epochs
batch_size = 256
epochs = 20

# Train the model with validation data
history = model_final.fit(
    x_train, y_train,
    batch_size=batch_size,
    epochs=epochs,
    validation_data=(x_test, y_test)
)

# Print training and validation loss and accuracy history
print("Training Loss and Accuracy:", history.history['loss'], history.history['accuracy'])
print("Validation Loss and Accuracy:", history.history['val_loss'], history.history['val_accuracy'])

In [ ]:
import matplotlib.pyplot as plt

# Plot training & validation accuracy values
plt.figure(figsize=(12, 4))
plt.subplot(1, 2, 1)
plt.plot(history.history['accuracy'], label='Train Accuracy')
plt.plot(history.history['val_accuracy'], label='Val Accuracy')
plt.title('Model Accuracy')
plt.xlabel('Epoch')
plt.ylabel('Accuracy')
plt.legend()

# Plot training & validation loss values
plt.subplot(1, 2, 2)
plt.plot(history.history['loss'], label='Train Loss')
plt.plot(history.history['val_loss'], label='Val Loss')
plt.title('Model Loss')
plt.xlabel('Epoch')
plt.ylabel('Loss')
plt.legend()

plt.show()

# Test data

In [ ]:
test_data = pd.read_csv('/kaggle/input/visual-taxonomy/test.csv')
test_data.head()


saree_df_test=test_data[(test_data['Category']=='Sarees')]
men_df_test=test_data[(test_data['Category']=='Men Tshirts')]
kurti_df_test=test_data[(test_data['Category']=='Kurtis')]
womenT_df_test=test_data[(test_data['Category']=='Women Tshirts')]
womenTops_df_test=test_data[(test_data['Category']=='Women Tops & Tunics')]

In [ ]:
saree_test_id=saree_df_test["id"]
men_test_id=men_df_test["id"]
kurti_test_id=kurti_df_test["id"]
womenT_test_id=womenT_df_test["id"]
womenTops_test_id=womenTops_df_test["id"]

In [ ]:
image_size=(224,224)
# List to store the loaded images
test_images = []

# Iterate through the specified range of image numbers
for img_num in range(len(saree_test_id)):
    filename = f'/kaggle/input/visual-taxonomy/test_images/{saree_test_id.iloc[img_num]:06}.jpg'  # Format with leading zeros
    img = cv2.imread(filename)  # Read the image with OpenCV
    if img is not None:
        img_resized = cv2.resize(img, image_size)  # Resize image to 224x224
        test_images.append(img_resized)
    else:
        print(f"Image not found or could not be loaded: {filename}")

print(f"Loaded {len(test_images)} images.")

In [ ]:
test_images_array = np.array(test_images)
print(f"Loaded images array shape: {test_images_array.shape}")

In [ ]:
batch_size = 256
data_generator_test = datagen.flow(
    test_images_array,
    batch_size=batch_size,
    shuffle=False
)

In [ ]:
test_predictions_all = []
num_batches = len(data_generator_test)  # Total number of batches in the generator

for _ in range(num_batches):
    batch = next(data_generator_test)  # Get the next batch
    predictions = model.predict(batch)
    test_predictions_all.append(predictions)

In [ ]:
x_encoded_test = np.concatenate(test_predictions_all, axis=0)
print(x_encoded_test.shape)

In [ ]:
y_encoded_test=model_final.predict(x_encoded_test)
print(y_encoded_test.shape)

In [ ]:
y_encoded_test=pd.DataFrame(y_encoded_test)
y_encoded_test.head()

In [ ]:
csv_file_path = 'saree_encoded.csv'
saree_test_id.to_csv(csv_file_path, index=False)

# Classifier

In [ ]:
# Import necessary libraries
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
import numpy as np

# Assuming X is your feature vector (e.g., of shape (num_samples, feature_length))
# and y is your labels array (e.g., of shape (num_samples,))

# Step 1: Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x_encoded_saree, y_saree, test_size=0.2, random_state=42)

# Step 2: Initialize the classifier
classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Step 3: Train the classifier
classifier.fit(X_train, y_train)

# Step 4: Predict on the test set
y_pred = classifier.predict(X_test)

# Step 5: Evaluate the model

In [ ]:
y_pred_test = classifier.predict(x_encoded_test)

In [ ]:
y_pred_test